/* Error: expected "{".
 *    ,
 * 12 |     grid-template-columns: 10% auto;
 *    |                                    ^
 *    '
 *   scss/_grid-general.scss 12:36  @import
 *   scss/origen.scss 4:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 12 \2502      grid-template-columns: 10% auto;\a    \2502                                     ^\a    \2575 \a   scss/_grid-general.scss 12:36  @import\a   scss/origen.scss 4:9           root stylesheet';
}
