/*-----Reset-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#grid-area {
  display: grid;
  grid-template-areas: " encabezado encabezado " " menu1 contenido " " pie pie ";
  grid-template-columns: 15% auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

header {
  grid-area: encabezado;
}

.menu {
  grid-area: menu1;
}

main {
  grid-area: contenido;
}

footer {
  grid-area: pie;
}

.border {
  border: solid 2px palevioletred;
}

/* ------Etiqute de parrafo-------*/
.main p {
  padding: 20px;
  font-style: italic; /*------Estilo de la fuente*/
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: green;
}

.header {
  display: flex; /* ----ajustandio el encabezado*/
  flex-flow: column nowrap;
  background-color: blanchedalmond; /*------color de fondo*/
}
.header article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
}
.header article img {
  width: 60%;
  height: 60%;
  border-radius: 25%;
  margin-top: 5px;
  margin-top: 10px; /*------bordes redonde al logo*/
}
.header article h1 {
  color: #f50404; /*------color al texto*/
  font-family: roboto sans-serif; /*-----tipo de fuente*/
  text-align: center;
  padding: 5px; /*-----Espacio interno*/
  margin: 3px; /*------Espacio Externo*/
}
.header nav {
  display: flex;
  flex-flow: row nowrap;
}
.header nav span {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px;
  list-style-type: none; /*----- eliminar listas*/
}
.header nav span a {
  width: 70%;
  background-color: rgb(207, 79, 19);
  border: solid 2px white; /*------bordes para el texto*/
  margin: 5px;
  padding: 10px;
  text-decoration: none; /* -----eliminar subrayado*/
  color: black; /* ------agrega color al texto*/
  border-radius: 10%;
  text-align: center;
}
.header nav span a:hover {
  background-color: white;
  color: #f50404;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  padding: 15px 10px;
  overflow: hidden;
}
.menu span {
  color: black;
  margin: 5px;
  padding: 5px;
}

.main {
  display: flex;
  flex-flow: row wrap;
  /* -----Agregando iomagen de fondo-------*/
  background-image: url("https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat; /*---------no repite la imagen de fondo*/
  background-size: cover; /* --------estirar la imagen*/
  background-position: center center; /*----------centrar la imagen de fondo*/
}
.main a {
  text-decoration: none;
  color: rgb(18, 44, 241);
  margin: 10px;
  padding: 10px;
}
.main a:hover {
  color: white;
}
.main h2 {
  margin: 10px 10% 15px 10%;
  padding-left: 10%;
  text-transform: uppercase; /* ------cambiar texto a mayusculas*/
  color: brown;
  font-weight: bold; /*--------- resaltando texto*/
  font-size: 300%;
}
.main .galeria {
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  padding: 5px;
}
.main .galeria section {
  padding: 20px;
}
.main .galeria section article {
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.main .galeria section article img {
  height: 20vh;
}
.main .galeria section article h3 {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5px;
  padding: 5px;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(64, 139, 64);
}
.footer h2 {
  color: black;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.footer h3 {
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.footer p {
  margin-top: 2px;
  font-style: italic;
  font-size: 15px;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
}

/*--------/-----------------Tablet--------------/---------*/
@media (min-width: 481px) and (max-width: 1023px) {
  body {
    background-color: blueviolet;
  }
  #grid-area {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .header nav {
    flex-flow: row wrap;
    background-color: black;
  }
  .header nav .header a {
    width: 25%;
  }
}

/*# sourceMappingURL=destino.css.map */
