body {
    width: 100%;
    height: 100vh;
    background-color: green;
    

    
    .header {
            display: flex;                     /* ----ajustandio el encabezado*/
            flex-flow: column nowrap;
            background-color:blanchedalmond;/*------color de fondo*/
            article {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                
                width: 25%;
                img {
                    width: 60%;
                    height: 60%;
                    border-radius: 25%; 
                    margin-top: 5px;
                    margin-top: 10px;              /*------bordes redonde al logo*/
                    }
                h1  {
                    color: #f50404;                   /*------color al texto*/
                    font-family: roboto sans-serif;     /*-----tipo de fuente*/
                    text-align: center;
                    padding: 5px;                       /*-----Espacio interno*/
                    margin: 3px;                   /*------Espacio Externo*/
                    }

                    }
            nav {
                display: flex;
                flex-flow: row nowrap;
                span{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 15px;
                    list-style-type: none;                 /*----- eliminar listas*/    
                    a   {
                        width: 70%;
                        background-color: rgb(207, 79, 19);
                        border: solid 2px white;            /*------bordes para el texto*/
                        margin: 5px;
                        padding: 10px;
                        text-decoration: none;                /* -----eliminar subrayado*/
                        color: black;                       /* ------agrega color al texto*/
                        border-radius: 10%; 
                        text-align: center; 
                        &:hover {
                                background-color: white;
                                color: #f50404;        
                                }                        
                        }
                    }
                }        
            }
            
        .menu{
            display: flex;
            flex-flow: row wrap;
            background-color: white;
            padding: 5px 5px;
          
            span {
                color: black;
                margin: 10px 1px;
                padding: 10px 0px;
                }

            } 
        .main {
            display: flex;
            flex-flow: row wrap;
        
               /* -----Agregando iomagen de fondo-------*/
            background-image: url("https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-repeat: no-repeat;           /*---------no repite la imagen de fondo*/
            background-size: cover;                 /* --------estirar la imagen*/
            background-position: center center;     /*----------centrar la imagen de fondo*/
            a   {
                text-decoration: none;
                color: rgb(18, 44, 241);
                margin: 10px;
                padding: 10px; 
                &:hover {
                    color: white;   
                        }   
                }
            h2  {
                margin: 10px 10% 15px 10%;
                padding-left: 10%;
                text-transform: uppercase;                /* ------cambiar texto a mayusculas*/
                color: brown;
                font-weight: bold;                        /*--------- resaltando texto*/
                font-size: 300%; 
                }
            .galeria {
                display: flex;
                flex-flow: row wrap;
                margin: 5px;
                padding: 5px;

                    article {
                        margin: 5px;
                        padding: 5px;
                        text-align: center;  
                        img {
                            height: 20vh;        
                            }
                        h3  {
                            font-weight: bold;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            margin: 5px;    
                            padding: 5px;
                            }    

                            }
                        
                    }
            } 
        .footer {
            display: flex;
            flex-flow: column wrap;
            background-color: rgb(64, 139, 64);
            h2  {
                color: black;
                font-weight: bold;
                font-size: 300%;
                text-align: center;
                margin: 2px;
                padding: 2px;
                }
            h3 {
                text-align: center;
                margin: 2px;
                padding: 2px;
                }
            p   {
                margin-top: 2px;
                font-style: italic;
                font-size: 15px;
                font-family: "Comic Sans MS", sans-serif;
                text-align: center;
                }
                
}
/*------------------------Transcisiones------------------------------*/

.lineal {
    background-image: linear-gradient(pink 23%,rgb(85, 133, 205)43%,red 75% ); 
}

.rotar {
    transform: rotate(45deg);
} 
.escalar {
    transform: scale(1.5, 1.1);
}

.animacion {
    animation-name: animacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacion {
    from {
        transform:rotate(1deg) ;

    }
    to {
        transform: rotate(360deg);

    }
}
}